body {
    margin: 0;
    padding: 0;
}

/* ======================Header seaction start====================== */
    /* ----------------------navbar section start---------------------- */
nav {
    background-color: #e0f1fc;
    margin: 0 auto; /* Center align the navbar */
    padding: 10px 0; /* Add padding as needed */
}
.logo-container img {
    max-height: 40px; /* Set max height for the logo image */
}
.menu-container li {
    margin: 0;
    padding: 0 15px; /* Add padding between menu items */
    cursor: pointer;
}
/* Add hover effect if desired */
.menu-container li:hover {
    color: #e8270a;
}
    /* ----------------------navbar section end---------------------- */

    /* ----------------------Banner section start---------------------- */
.banner-container{
    width: 1200px;
    margin: 50px auto;
}
.banner-body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e0f1fc;
    gap: 50px;
    padding: 0px 50px;
    box-shadow: 4px 4px 8px gray;
    border-radius: 10px;
}
.banner-img{
    height: 600px;
    width: 300px;
}
    /* ----------------------Banner section end---------------------- */

    /* Services section start */
    .services-container{
        width: 1200px;
        margin: 50px auto;
    }
/* ======================Header seaction end====================== */