body {
    margin: 0;
    padding: 0;
}

/* ======================Header seaction start====================== */
    /* ----------------------navbar section start---------------------- */
nav {
    background-color: #e0f1fc;
    margin: 0 auto; /* Center align the navbar */
    padding: 10px 0; /* Add padding as needed */
}
.logo-container img {
    max-height: 40px; /* Set max height for the logo image */
}
.menu-container li {
    margin: 0;
    padding: 0 15px; /* Add padding between menu items */
    cursor: pointer;
}
/* Add hover effect if desired */
.menu-container li:hover {
    color: #e8270a;
}
    /* ----------------------navbar section end---------------------- */

    /* ----------------------Banner section start---------------------- */
.banner-container{
    width: 1200px;
    margin: 50px auto;
}
.banner-body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e0f1fc;
    gap: 50px;
    padding: 0px 50px;
    box-shadow: 4px 4px 8px gray;
    border-radius: 10px;
}
.banner-img{
    height: 600px;
    width: 300px;
}
    /* ----------------------Banner section end---------------------- */



/* ======================Header seaction end====================== */

/*  ======================Main section start====================== */

/* ----------------------Services section start---------------------- */
.services-container{
    width: 1200px;
    height: 600px;
    margin: 50px auto;
}
/* ----------------------Services section end---------------------- */

/* -------------------Doctor section start---------------- */
.doctor-card{
    width: 300px;
    height: 350px;
    box-shadow: 4px 4px 8px gray;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
}

.doctor-img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
#searchs{
    border-radius: 10px;
    box-shadow: 2px 2px 4px gray;
    border: none;

}
.doctors-container{
    margin: 200px 50px;
}

#loding{
    display: none;
}
/* -------------------Doctor section end---------------- */

/* -------------------Review section start---------------- */

.reviews{
    margin: 100px;
    justify-content: space-around;
}

.review-container{
    width: 1200px;
    height: 800px;
    margin: 50px auto;
}


.review_img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
}

/* -------------------Review section end---------------- */

/* =========================Footer section==================== */
footer{
    padding: 50px;
    background: linear-gradient(66deg, #1CA8C7 -5.25%, #439FA5 46.76%, #4C7D8C 98.77%);
}


/* =================Doctor details section===================== */
.doctor-img img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    }
    .doc-details-container{
        display: flex;
        justify-content: space-around;
        padding: 30px;
        gap: 50px;
        width: 75%;
        margin: auto;
    }
    .doc-detail-btn{
        border: none;
        padding:5px 10px;
        background-color:gray;
        color: white;
        border-radius: 5px;
    }
    .review_card{
        box-shadow: 4px 4px 8px gray;
        border-radius: 10px;
        padding: 15px;
    }